@import "../../variables";

nav {
    background-color: $grey-color;
    border-bottom: solid 0.2rem #7a7ac4;

    .navbar-brand {
        display: flex;
        align-items: center;
        justify-content: space-between;

        #header-logo {
            width: 50px;
            height: 50px;
        }

        p {
            margin-bottom: 0;
            margin-left: 0.5rem;
            font-family: 'Rampart One', cursive;
        }
    }

    .navbar-nav {
        margin-left: auto;
    }

    li {
        &.nav-item {
            margin: 0 10px;
        }
    }
}