@import '../../_variables.scss';

footer {
    background-color: $grey-color;

    h5, label {
        text-transform: capitalize;
        color: #fff;
        font-family: "Federant", cursive;
        font-size: 1.3rem;
    }

    ul {
        list-style-type: none;
        padding-left: 0;

        li {
            text-transform: capitalize;
        }
    }

    a {
        text-decoration: none;

        .img-container {
            img {
                width: 40%;
            }

            P {
                margin-bottom: 0;
                margin-left: 0.5rem;
                font-family: 'Rampart One', cursive;
                color: #fff;
            }
        }
    }
}