<section id="top-section" class="container-fluid">
    <div class="container">
        <div class="row pt-5">
            <div class="col-8">
                <h3>about us</h3>
                <p class="subtitle">Lorem ipsum dolor sit amet consectetur</p>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quidem delectus
                    aliquam
                    at. Deserunt nesciunt, voluptatem esse, a nam sed officiis explicabo non maxime amet laborum ullam
                    commodi, quia atque nulla enim pariatur? Laboriosam harum reprehenderit doloremque sint molestiae.
                    Ipsam, alias provident odio minima quas cumque aliquid corrupti harum magni esse ullam facere quam
                    accusamus nam inventore dolore. Rem, facere!</p>
                <p class="subtitle">Lorem ipsum dolor sit amet consectetur</p>
                <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt consequuntur maxime,
                    excepturi totam ipsum accusantium. Ducimus explicabo obcaecati sapiente tenetur rerum, provident
                    nesciunt praesentium eius voluptatibus odio? Vero asperiores, eaque dignissimos laudantium ad
                    laboriosam
                    in quidem deleniti quaerat enim perspiciatis a nam aut tempore odio.</p>
                <p class="subtitle">Lorem ipsum dolor sit amet.</p>
                <p class="paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quasi voluptate rem
                    iusto qui, laboriosam ipsum eum veritatis reprehenderit minima molestias facilis inventore
                    accusantium
                    Corporis.</p>
                <p class="subtitle">Lorem, ipsum dolor.</p>
                <p class="paragraph">Lorem, ipsum.<br>Lorem, ipsum dolor.<br>Lorem ipsum dolor sit amet consectetur,
                    adipisicing elit.<br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis nulla
                    doloremque
                    quibusdam enim!</p>
                <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit blanditiis
                    quibusdam
                    hic id praesentium quam aut, expedita molestiae!</p>
            </div>


            <div class="col-4">
                <div class="img-container">
                    <img src="../../assets/img/saturn.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

</section>

<section id="bottom-section" class="container-fluid py-4 d-flex flex-wrap justify-content-center align-items-center">
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat1.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a href="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a href="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore officiis
                quibusdam nulla expedita autem.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat3.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a href="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad quae sequi
                suscipit vero. Adipisci natus quos commodi aspernatur vitae.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat4.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a href="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque culpa possimus
                laboriosam.</p>
        </div>
    </div>
</section>