@import '../../_variables.scss';

#top-section {
    background-color: $grey-color;
    background-image: url(../../assets/img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    h3 {
        text-transform: capitalize;
        font-style: italic;
        font-family: 'Federant', cursive;
        color: white;
    }

    .subtitle {
        font-weight: 700;
        text-transform: capitalize;
        color: white;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .paragraph {
        color: white;
        text-align: justify;
    }

    .img-container {
        width: 250px;
        height: 250px;
        overflow: hidden;
        margin: auto;
        border-radius: 25px;
        border: solid 5px steelblue;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;

        img {
            width: 100%;
            height: auto;

        }
    }
}