@import '../../_variables.scss';

.to-top {
    bottom: 0;
    cursor: pointer;
    margin: 30px;
    position: fixed;
    right: 0;
    opacity: 1;
    border: solid 2px $red;
    border-radius: 20%;
    padding: 10px 15px;
    color: $red;
    font-weight: bold;
    background-color: transparent;

    &.show-scrollTop {
        opacity: 1 !important;
        transition: all 0.2s ease-in-out;
    }
}