<section id="cards-section" class="container-fluid py-4 d-flex flex-wrap justify-content-center align-items-center">
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat1.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a routerLink="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat2.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a routerLink="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore officiis
                quibusdam nulla expedita autem.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat3.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a routerLink="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium ad quae sequi
                suscipit vero. Adipisci natus quos commodi aspernatur vitae.</p>
        </div>
    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../assets/img/cat4.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body">
            <a routerLink="/blog">
                <h5 class="card-title">Category</h5>
            </a>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque culpa possimus
                laboriosam.</p>
        </div>
    </div>
</section>