<section id="blog-section" class="container-fluid">
    <div class="container p-5">

        <div class="row mt-5 pt-5">
            <div class="col-12">
                <div class="img-container">
                    <img src="../../assets/img/blog.png" alt="">
                </div>
            </div>
        </div>
        <h1>Article Title</h1>
        <h6 class="my-3">By: <span>John Doe</span>, On: <span>06 Nov 2022</span></h6>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, voluptate nostrum, deleniti veniam, amet
            atque
            dolore modi ut laborum corrupti accusamus dolor. Eligendi dicta quis, quidem dolor, ducimus sequi beatae,
            quae
            repellat quos vero voluptate eaque recusandae. Accusamus asperiores magnam itaque enim velit doloribus eum
            temporibus, expedita quidem modi vero quas numquam! Cupiditate eius earum nihil, officiis magnam ex omnis
            autem
            delectus expedita amet sequi totam sint vero perspiciatis? Explicabo sit numquam ipsa tempora commodi saepe
            facilis, recusandae ab? Eligendi rerum unde error placeat quas ipsa architecto quam corporis. Incidunt nemo
            aut
            perspiciatis architecto deserunt consequatur, iste maxime. Nesciunt, harum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptates obcaecati a tempora eveniet
            praesentium ducimus quasi, voluptatem, eum quas corporis libero numquam? Adipisci eaque rerum quo laudantium
            reprehenderit iste!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam labore ullam fugiat nobis possimus officia
            voluptate obcaecati, sint necessitatibus. Mollitia nobis dolores quis doloribus ducimus quae, perspiciatis
            totam sed accusamus ut iure blanditiis corporis esse incidunt illo maiores aspernatur maxime nisi eligendi
            unde tenetur fugit illum. Quaerat quia provident repudiandae!
        </p>
        <h3 class="my-4">Subtitle text</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui autem quaerat pariatur aliquam, neque odio
            sequi possimus labore animi et ipsum deserunt magnam facilis, a harum delectus veniam tempora? Unde!
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, id quisquam. Fugiat tempora a eaque ipsa
            dicta minima officiis quisquam asperiores, esse quam hic iure, dignissimos maiores, maxime cum odio.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sunt et debitis sequi in earum eos fugiat
            dicta voluptate provident dolores delectus, vero optio ullam iste id quas, quasi perferendis quisquam nulla
            voluptatibus architecto ex ducimus? Eos repellendus vitae voluptatum illum, hic quo dolore ipsam repellat
            eligendi modi deserunt, dolorem vel quisquam. Culpa iusto aspernatur maiores quis ipsum dolorum eaque.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga rem nostrum laudantium explicabo ipsa, sit
            corrupti natus voluptatibus ratione eligendi pariatur impedit in. Dolorum aliquam laborum aperiam asperiores
            velit debitis nihil incidunt, delectus unde vero?
        </p>
    </div>
</section>
<app-cards-section></app-cards-section>