<section id="blog-section" class="container-fluid">
    <div class="container py-5">

        <div class="row">
            <div class="col-12">
                <div class="img-container">
                    <img src="../../assets/img/blog.png" alt="">
                </div>
            </div>
        </div>
        <h1>Article Title</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta, voluptate nostrum, deleniti veniam, amet
            atque
            dolore modi ut laborum corrupti accusamus dolor. Eligendi dicta quis, quidem dolor, ducimus sequi beatae,
            quae
            repellat quos vero voluptate eaque recusandae. Accusamus asperiores magnam itaque enim velit doloribus eum
            temporibus, expedita quidem modi vero quas numquam! Cupiditate eius earum nihil, officiis magnam ex omnis
            autem
            delectus expedita amet sequi totam sint vero perspiciatis? Explicabo sit numquam ipsa tempora commodi saepe
            facilis, recusandae ab? Eligendi rerum unde error placeat quas ipsa architecto quam corporis. Incidunt nemo
            aut
            perspiciatis architecto deserunt consequatur, iste maxime. Nesciunt, harum.
        </p>

    </div>

</section>