#blog-section {
    background-image: url(../../assets/img/blog-bg.jpeg);
    background-attachment: fixed;

    h1,
    h3 {
        font-family: 'Federant', cursive;
        color: white;
        text-transform: capitalize;
    }

    p,
    h6 {
        color: white;
        text-align: justify;

        span {
            color: gray;
        }
    }

    .img-container {
        width: 100%;
        height: 450px;
        overflow: hidden;
        border-radius: 1rem;
        position: relative;

        img {
            width: auto;
            height: 100%;
            margin: auto;
            display: block;
            border-radius: 1rem;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            border: solid 5px steelblue;
        }
    }
}